


.dropdown-icon {
  width: 5px;
  height: 5px;
  margin: 1px;
  display: inline;
  background-image: url("http://res.cloudinary./syriebianco/image/upload/v1501111343/down-arrow_lg8je1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
