// form header

.form-header {
  margin-top: 45px;
  margin-left: 23px;
  font-size: 30px;
}


.full-page-component {
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  min-width: 1010px;
  width: 90vw;
}
