html, body, section, h1, h2, h3, figure, div, header, form, button, label, input, hgroup, nav, a, ul, li, p, select {

  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
  box-sizing: border-box;

  list-style: none;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: lighter;
}

body, html {
  height: 100%;
}


a, select, button, Link:hover {
  cursor: pointer;
}
