@import "../base/colors";


.dives-feed {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 600px;

}

.dive-list {
    list-style: none;
    padding: 40px;
}

.dive-feed-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  border-top: 1px solid $light-gray;
}

.dive-feed-item:last-of-type {
  border-bottom: 1px solid $light-gray
}

.new-dive-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    font-size: 20px;
    margin: 0 5px;
    margin-left: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  a:hover {
    .feed-plus-button {
      background-image: url("http://res.cloudinary.com/syriebianco/image/upload/v1500915136/square-add-button_sf46rz.png");
    }
  }

}

// buttons

.delete-button {
  // background: rgba(240, 240, 240, .75);
  background: transparentize($light-gray, .6);
  border-radius: 2px;
  padding: 7px 10px;
}

.delete-button:hover {
  // background: rgba(230, 230, 230, 1);
  background: $light-gray;
}

.feed-plus-button {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: inline-block;
  background-image: url("http://res.cloudinary.com/syriebianco/image/upload/v1500915136/add_1_xoiuzu.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.feed-plus-button:hover {
  background-image: url("http://res.cloudinary.com/syriebianco/image/upload/v1500915136/square-add-button_sf46rz.png");
}
