@import "../base/colors";

.dive-show {
  margin-left: 50px
}

.dive-route-and-info {
border-top: 1px solid $light-gray;
border-bottom: 1px solid $light-gray;
width: 1010px;
display: flex;
justify-content: space-between;
margin: 40px;
padding: 20px;
}

.dive-info {
  width: 300px;

  div {
    border-bottom: 1px solid $light-gray;
    padding: 10px;

    h3 {
      padding: 5px;
      // font-weight: normal;
      display: flex;
      justify-content: space-between;
      color: $darker-blue;
      font-weight: 400;

      p, h4 {
        font-weight: lighter;
      }
    }

    h3.dive-notes {
      padding: 10px;
      font-size: 14px;
      color: black
    }
  }



  div:last-of-type {
    border-bottom: none;
  }
}

.sample-route-img {
  border: 1px solid gray;
  border-radius: 1px;
  display: block;
}

.route-fig {

}

.date-time-div{

}

.stats-div {

}

.notes-div {
  display: flex;
  flex-direction: column;
}
