@import "../base/colors";
// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//nav-bar

figure {
  display: inline;
}

// general nav

.nav-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px solid $light-gray;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08)
}


.nav-bar-logo {
  height: 60px;
  width: auto;
  display: inline;
  // position: absolute;
}

// internal nav

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  padding: 19px;
  width: 130px;
  text-align: center;
}

.nav-link:hover{
  font-weight: 400;
  // font-weight: bold;
  padding: 17px;
  color: #0070C0;
  border-bottom: 3px solid #0070C0;
  transform: translate(0px, 1px);

}

.nav-links:hover {
}

.active {
  font-weight: 400;
  padding: 17px;
  border-bottom: 3px solid #0070C0;
  transform: translate(0px, 1px);
}

.welcome-text {
  margin: 0 20px;
}

.logout-button {
  margin: 0 8px;
  padding: 8px;
  border-radius: 2px;
  box-sizing: border-box;
  width: 75px;
  text-align: center;
}

.logout-button:hover {
  font-weight: 400;
  color: #0070C0;
  border-radius: 2px;

}

// new session nav

.session-nav-bar{
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 2px solid black;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08)
}

.signin-signup{
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.session-link{
  color: black;
  background: white;
  width: 80px;
  border: 1px solid $blue-grey;
  margin: 5px 15px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}
.session-link:hover {
  border: 1px solid grey;
  border-radius: 2px;
  background: rgba(240, 240, 240, 1)
}


// grid making

.center-div {
  display: flex;
  align-items: center;
}

.dummy-div {
  color: transparent;
}


//center section

.nav-text {
  font-size: 14px;
  font-weight: lighter;
  color: navy;
  margin-right: 20px;
}

.create-account {
  color: white;
  background: $blue;
  margin: 5px 15px;
  padding: 15px 16px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  transition: .3s;

}

.create-account:hover {
  background: $darker-blue;
  transform: translate(0px, 1px);
}
