@import "../base/colors";

// form header

.form-header {
  margin: 0 auto;
  font-size: 25px;

}


// grid making

.new-dive-form-box {
  height: 500px;
  width: 80vw;
  display: flex;
  margin: 70px auto;
}
.new-dive-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

  .title-inputs {
    justify-content: flex-start;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    border-bottom: 1px solid $light-gray;
  }
}


// inputs

.new-dive-form-headers {
  display: flex;
  margin: 10px;
  align-content: center;

  // specific inputs

  .title-input {
    width: 150px;
    padding: 6px;
  }

  .date-input {
    width: 150px;
  }

  .time-input {
    width: 80px;
  }

  .pressure-input {
    padding: 6px;
    width: 90px;
    text-align: end;
  }

  .notes-input {

  }

  .new-dive-submit {

  }

  input {
    border: 1px grey solid;
    margin: 0 15px;
    padding: 3px;
  }

  select {
    border: 1px grey solid;
    margin: 0 15px;
    padding: 3px;
  }
}


.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px
}
