@import "../base/colors";

// form header

.form-header {
  margin-top: 45px;
  margin-left: 23px;
  font-size: 25px;
}


// grid making
.new-dive-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.new-dive-form-box {
  height: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0px 80px;
}
.new-dive-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 800px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
    border-bottom: 1px solid $light-gray;
  }

  div:last-of-type {
    border: none;
  }
}


// inputs

.new-dive-form-headers {
  display: flex;
  margin: 10px;
  align-items: center;

  // specific inputs

  .title-input {
    width: 150px;
    padding: 6px;
  }

  .date-input {
    width: 150px;
  }

  .time-input {
    width: 135px;
  }

  .pressure-input {
    padding: 6px;
    width: 90px;
    text-align: end;
  }

  .add-route, .route-input {
      font-size: 11px;
      font-family: system-ui;

      background: rgb(248, 248, 248);

      border: 1px grey solid;
      border-radius: 1px;

      margin: 0 15px;
      padding: 9px 11px;
  }

  .add-route:hover {
    background: rgb(235, 235, 235)
  }
  .notes-input {

  }



  input {
    border: 1px grey solid;
    margin: 0 15px;
    padding: 3px;
  }

  select {
    border: 1px grey solid;
    margin: 0 15px;
    padding: 9px;
    border-radius: 1px;
    -webkit-appearance: none;

    option {
      text-align: center;
    }

  }

  textarea {
    border: 1px grey solid;
    margin: 0 30px;
  }
}


.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px
}

.new-dive-submit {
  background: $blue;
  color: white;
  font-weight: normal;
  text-align: center;
  padding: 10px;
  width: 100px;
  transition: .4s;
}

.new-dive-submit:hover {
  background: $darker-blue
}

.text {
  font-size: 12px;
}
