@import "../base/colors";

.routes-index-header-group {
  display: flex;
  flex-direction: column;
}

.route-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;


  width: 960px;
  margin: 25px;
  border-top: 1px solid $light-gray;

}

.new-route-button {
  background: $blue;

  color: white;
  font-size: 12px;
  font-weight: normal;
  text-align: center;

  padding: 9px;
  width: 125px;

  margin-left: 43px;
  margin-top: 25px;
  margin-bottom: 10px;

  transition: .4s;
}

.new-route-button:hover {
  background: $darker-blue
}



// index items



.route-feed-item {
  height: 361px;
  width: 278.45px;

  color: $gray;

  margin: 20px;
  background: $lightest-gray;

}

.route-info-box {
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;

  div.distance {
    display: flex;
    flex-direction: column;


    b {
      font-size: 20px;
      color: black
    }

    span {
      margin: 3px;
    }
}



}

.route-title {
  font-size: 23px;
  color: $teal;
}
