@import "../base/colors";

.route-show-page {
  margin-left: 50px;
  width: 900px;
}

.route-info {
  margin: 15px 20px
}

.route-show-info{
  border-top: 1px solid $light-gray;
  margin-top: 20px;
}

.show-map {
  margin-left: 30px;
}
