.new-dive-form-box {
  height: 500px;
  width: 80vw;
  display: flex;
  margin: 70px auto;
}
.new-dive-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-dive-form-headers {
  display: flex;

}

.new-dive-inputs{
  border: 1px grey solid
}
