html, body, section, h1, h2, h3, figure, div, header, form, button, label, input, hgroup, nav, a {

  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

}

body {

}


a, button, Link:hover {
  cursor: pointer;
}
